
/* hay que añadir el script, comprobar inicio de sesion*/



body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    background: linear-gradient(180deg, #711D23 10.86%, rgba(103, 19, 25, 0.90) 32.15%, rgba(111, 26, 32, 0.88) 59.72%, rgba(184, 79, 86, 0.68) 90.1%);
}

h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: New Rocker;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-text-stroke: 1px #000000; 
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

/*Selector combinado*/

header>img[alt="usuario"]{
    width: 60px;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items:center;

}

form{
    fill: #FFFCFC;
    stroke-width: 2px;
    stroke: #000;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.25));
}

form input[type="text"]{
    font-family: Raleway;
    background-color: #ffffff;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 97%;
    height: 2.5vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Selector con pseudoelemento*/
input::placeholder{
    padding: 3%;
    
}

form input[type="Submit"]{
    font-family: New Rocker;
    background-color: #000000;
    color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 300px;
    height: 40px;
    font-size:large;
    padding: 2%;
    
}

@media only screen and (min-width:700px){

    .formulario>form{

        display:grid;
        grid-template-areas:
                "nombre apellidos"
                "email  email"
                "password telefono";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap:10%;
 
    }

    form input[name="Nombre"]{
        grid-area: nombre;
    }

    form input[name="Apellidos"]{
        grid-area: apellidos;
    }

    form input[name="Email"]{
        grid-area: email;
    }

    form input[name="Password"]{
        grid-area: password;
    }

    form input[name="Telefono"]{
        grid-area: telefono;
    }

    
    h1{
        font-size: 70px;
    }
    
    header{
        margin: 5%;
    }
}

