*{
    margin: 0%;
    padding: 0%;
}

body{
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

h1{
    color: #D1181D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: New Rocker;
    font-size: 50px;
    font-style: normal;
    font-weight: 00;
    line-height:normal;
    -webkit-text-stroke: 1px #000000; 
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    padding: 1cm;
}

header{
    display: flex;
    justify-content: center;
}

.firstSection{
    border: 2px #000000 dashed ;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 35vh;
}

.addImg{
    margin: 2cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/*Asi se ajusta una imagen dentro de un contendor*/

.colores{
    width:60px;
}

.colores>img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.camiseta{
    width: 130px;
}

.camiseta>img{
    width:100%;
    height:100%;
    object-fit:cover;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.secondSection{
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 35vh;
}

.thirdSection{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    fill: #E0E0E0;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form input[type="text"]{
    font-family: Raleway;
    background-color: #E0E0E0;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 97%;
}

form ::placeholder{
    color: #000;
    opacity:1;
}

.selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:35px
}

form input[type="Submit"]{
    font-family: New Rocker;
    background-color: #D1181D;
    color: #FFF;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 200px;
    height: 33px;
    font-size:x-large;
    border-radius: 0.2cm;
}

@media only screen and (min-width:700px){
  
    .titulo{
        flex-direction: row;
        margin-top: 0;
    }

    header{
        margin: none;
    }

    main{ 
        display:grid;
        grid-template-areas:
                "section2 section1"
                "section2 section3";      
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto auto;
       
    }

    .firstSection{
        grid-area: section1;
        width: 50%;
    }

    .secondSection{
        grid-area: section2;
        width:80%;
        margin: 15% 0 15% 15%;
    }

    .thirdSection{
        grid-area: section3;
    }
    
    body{
        margin: 5%;
    }

}

