body{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: var(--Fondo-degradado, linear-gradient(180deg, rgba(0, 0, 0, 0.99) 0.01%, rgba(14, 14, 14, 0.82) 0.02%, #000 0.03%, #000 34.9%, rgba(0, 0, 0, 0.35) 100%));
}

header>img{
    width: 275px;
    position: relative;
    z-index: 1;
}

form{
    display: flex;
    flex-direction: column;
    gap:20px;
    z-index: 2;
    position: relative;
    bottom: 35px;
}

form>input{
    border-radius:50px;
    background-color: #D9D9D9;
    height: 25px;
    width: 200px;
    padding: 3px 8px 4px;
    font-family: Raleway;
}

p{
    padding-left: 17%;
}

label{
    color: rgba(255, 255, 255, 0.83);
    font-family: Shippori Antique B1;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button{
    color: white;
    font-family: New Rocker;
    border: 1px solid #000;
    background: #76161D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.42) inset;
    width: 200px;
    height: 35px;
    font-size: large;
    padding: 2%;
    margin-top: 10%;
    margin-left: 10%;
}



