body{
    height: 100vh;
    flex-wrap: nowrap;
    display:flex;
    flex-direction: column;
    background: var(--fondo, linear-gradient(180deg, #0E0C0C 13.46%, #730f0fdb 37.72%, rgba(120, 15, 15, 0.85) 37.73%, rgba(181, 14, 14, 0.64) 72.9%, rgba(234, 4, 4, 0.38) 100%));
}

.cabecera{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.iconos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}

.etiquetas{
    color: white;
    background-color: black;
    margin: 20px 20px 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    font-family: Odor Mean Chey;
}

#Logo_Oficial{
    width: 110px;
    margin-left: 2%;
    margin-right: 2%;
}

#search{
    width: 70%;
    height: 22px;
    border-radius: 0.5cm; 
    z-index: 1;
    position: relative;
    margin: auto;

}

#lupa{
    z-index: 2;
    position: relative;
    right: 3%;
    width: 30px;
    
}

/*Selector por ID*/
#flecha{
    padding-top: 16px;
    width: 46.978px;
    height: 30px;
}

/*Selector hijo*/
main>h1{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: New Rocker;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px; 
    margin-left: 3%;
}

main{
    display: flex;
    flex-direction: column;
}

.camisetas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:100px;
}

/*Asociar varias clases a un mismo elemento (camisetaMargen y contenedor)*/

.contenedor{
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    background: hsla(0, 0%, 100%, 0.71);
    width: 30%;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25%;
    width: 32%;
}

.camisetaConMargen{
    margin-left: 2%;
}

.foto{
    border: 3px solid #000;
    margin: 20px 30px 20px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap:20px;
    align-items: center;
}


#colores{
    width: 75px;
    padding-right: 10px;
}

.rss{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.flecha{
    padding-top: 16px;
    padding-left: 97%;
}

.rss>img{
    mix-blend-mode: overlay;
}

/*Selector Descendiente*/
.etiquetas p{
    margin: 0;
    padding: 1px;
    font-size:large;
    font-family:nats;
}

footer{
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-family: Orelega One;
    color: white;
    margin-top: 6%;
}

#title{
    font-size: 14px;
    margin: 0;
}

/*Selector con pseoudoclase*/
li:hover{
    color: yellowgreen;
}

/*Selector adyacente*/
.telefono>img + p{
    font-size: xx-small;
}

.gmail{
    font-size:xx-small;
    display: flex;
    flex-direction: row;
    gap:2px;
}

.telefono{
    display: flex;
    gap:3px;
}

.telefono>img{
    width:10px;
    height: 10px;
    padding-top: 10px;
}

.gmail>img{
    padding-top: 10px;;
    width: 10px;
    height: 10px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.deslizar{
    display: none;
}


@media only screen and (max-width:1000px){

   #desaparecer{
    display: none;
   }

   .contenedor{
    width: 60%;
    margin-left: 20%;
   }

   .deslizar{
    display: flex;
    background-color: #EBCCCC;
    width: 8%;
    align-items: center;
    height: 35%;
   }

   .deslizar img{
    padding-left: 35px;
    width: 50%;
   }

   .flecha{
    visibility:hidden;
   }

    .camisetas{
        align-items: center;
        gap: 0px;
    }

    ul{
        width: 90%;
    }


    .iconos>img{
        width: 50px;
    }

    a>img{
        width: 40px;
    }

    .log>a>img{
        width: 150px;
        margin-left: 50px;
    }

    #search{
        width: 120px;
    }
}

@media print {
    
    body{

        color: black;
        background-color: white;
    }

}  


   

  
 




